.footer{
  background: #333;
  color: #ddd;  
  padding-top: 0px;
  padding-bottom: 0px; 
  margin-top: 40px;
  margin-bottom: 0px; 
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Futura Light';
}
.navbar-nav>li> a{
 color: #ddd;
}
.navbar-nav>li>a:hover {
  border: 1px solid #ddd;
  background-color: transparent;
  color: #ddd;
}
.navbar-nav>li>a:active{
  color: #eed641;
  border: 1px solid #eed641;
  background-color: transparent;
}
.navbar-nav>li>a:focus{
  color: #eed641;
  background-color: transparent;
}